---
import Layout from "~/layouts/PageLayout.astro";
---

<Layout>
	<div id="wb_Text3">
		<div>
			<span><strong>Lời thề máu 30.4.82</strong></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span>Một: Không.</span>
		</div>
		<div>
			<span>30/4 nầy không còn Quốc hận</span>
		</div>
		<div>
			<span>- Là Quốc kháng!</span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span>Hai: Không, không!</span>
		</div>
		<div>
			<span>Năm 82 không còn Quốc hận</span>
		</div>
		<div>
			<span>Thét lên: Là Quốc kháng!</span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span>Bởi vì từ tháng 3</span>
		</div>
		<div>
			<span>Kháng chiến bên nhà</span>
		</div>
		<div>
			<span>Đã ra quân Khởi nghĩa.</span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span>Bởi vì</span>
		</div>
		<div>
			<span>Các anh các chị</span>
		</div>
		<div>
			<span>Từ khắp Âu Châu lớp lớp kéo về</span>
		</div>
		<div>
			<span>Chắn lối điện Chaillot</span>
		</div>
		<div>
			<span>Đổ tới công trường Trocadéro như thác lũ</span>
		</div>
		<div>
			<span>Dù nơi đây chẳng phải là Quê</span>
		</div>
		<div>
			<span>Là đất khách cách những trùng dương vời vợi.</span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span>Và các anh các chị</span>
		</div>
		<div>
			<span>Rùng rùng tràn ngập rún Paris</span>
		</div>
		<div>
			<span>Tháp Eiffel rung chuyển</span>
		</div>
		<div>
			<span>Hào khí ngất trời</span>
		</div>
		<div>
			<span>Nhân loại văn minh dừng chân bừng tỉnh</span>
		</div>
		<div>
			<span>Cúi đầu vì Hiệp định Paris</span>
		</div>
		<div>
			<span>Của gian nhân hiệp đảng ngày nào.</span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span>Và các anh các chị</span>
		</div>
		<div>
			<span>Nghiến răng cắt máu chung thề</span>
		</div>
		<div>
			<span>Lập đoàn Quyết Tử</span>
		</div>
		<div>
			<span>Đạp sóng Đại dương quay phắt trở về.</span>
		</div>
		<div>
			<span>- Về.&nbsp; Phải về!</span>
		</div>
		<div>
			<span>Phải về diệt Cộng cứu Quê!</span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span>Cứu Quê… ơi ới cứu Quê!</span>
		</div>
		<div>
			<span>Thoát nghe mà ruột thắt</span>
		</div>
		<div>
			<span>Mà nước mắt ứa trào</span>
		</div>
		<div>
			<span>Bì ngón tay chưa kịp cắt</span>
		</div>
		<div>
			<span>Máu trong tim phóng vọt thành vòi</span>
		</div>
		<div>
			<span>Hoà với máu anh máu chị</span>
		</div>
		<div>
			<span>Máu đỏ.&nbsp; Máu nồng</span>
		</div>
		<div>
			<span>Của bà con Việt mình tị nạn</span>
		</div>
		<div>
			<span>Của đồng bào bên nhà lầm than</span>
		</div>
		<div>
			<span>Vốn sinh ra bú chung bầu sữa mẹ</span>
		</div>
		<div>
			<span>Thuở mới biết đi chập chững</span>
		</div>
		<div>
			<span>Mới biết nói cười</span>
		</div>
		<div>
			<span>Bị quỷ đỏ nhe nanh vồ cắn cổ</span>
		</div>
		<div>
			<span>Móng cặp vuốt kèm</span>
		</div>
		<div>
			<span>Lưỡi lè vục sâu tỉnh mạch</span>
		</div>
		<div>
			<span>Hung hăng hút máu ngày đêm</span>
		</div>
		<div>
			<span>35 năm</span>
		</div>
		<div>
			<span>Máu lương dân giờ đây đã cạn</span>
		</div>
		<div>
			<span>Da xanh, môi tái, sức kiệt, hơi tàn</span>
		</div>
		<div>
			<span>Thoi thóp nuối chờ: phanh thây giặc cộng.</span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span>Đường dao liếc ngọt</span>
		</div>
		<div>
			<span>Máu đào từng giọt</span>
		</div>
		<div>
			<span>Vọt khỏi tim đau</span>
		</div>
		<div>
			<span>Anh chị em mình cùng nhau trao chén:</span>
		</div>
		<div>
			<span>- “Bạch nhật thiên thanh, thề kết chặt</span>
		</div>
		<div>
			<span>Thương về Quê mẹ thề rạch mặt quân thù</span>
		</div>
		<div>
			<span>Anh linh liệt sĩ thề rửa hận thiên thu,</span>
		</div>
		<div>
			<span>Tiếp cứu đồng bào, thề có mặt khắp chiến khu!”</span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span>Thề…</span>
		</div>
		<div>
			<span>Thề triệt tiêu quân bán Nước</span>
		</div>
		<div>
			<span>Thề đốt xác lũ buôn dân.</span>
		</div>
		<div>
			<span>Giải phóng quê hương, dựng Nước lần lần</span>
		</div>
		<div>
			<span>Tiếp dưỡng khí cho Giang sơn đứng dậy.</span>
		</div>
		<div>
			<span>Hà sinh khí cho Giống nòi vùng dậy</span>
		</div>
		<div>
			<span>Vung nốt đường gươm diệt Cộng trừ tà…</span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span>Lũ con lại về</span>
		</div>
		<div>
			<span>Run run hôn nền Đất mẹ</span>
		</div>
		<div>
			<span>Mẹ Việt đời đời, Mẹ Việt của ta!</span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span><br /></span>
		</div>
		<div>
			<span>________________________________________________ </span>
		</div>
		<div>
			<span>Báo đăng:</span>
		</div>
		<div>
			<span
				>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
				- Vì Nước số</span
			>
		</div>
		<div>
			<span
				>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
				- Quê Mẹ</span
			>
		</div>
		<div>
			<span
				>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
				- Thân ái</span
			>
		</div>
	</div>
</Layout>
