---
import Layout from "~/layouts/PageLayout.astro";
import Image from "~/components/common/Image.astro";

const metadata = {
	title: "Loi Tua",
};
---

<Layout metadata={metadata}>
	<div class="text-center content-center mx-48">
		<Image
			src="~/assets/images/LoiTuaPicture.png"
			alt="Author Image"
			class={"mx-auto"}
		/>
		<h1 class="font-bold content-center my-12 text-4xl">Thay Lời Tựa</h1>
		<p class="text-justify">
			Tôi đã góp nhặt thơ đăng rải rác của tôi và nhờ tri kỷ tri âm thực hiện
			tuyển tập này vào lúc tuổi đời đã ngoài tám mươi, tôi chỉ muốn gởi gắm nó
			lại cho những ai đồng tâm cảm đồng cảnh ngộ, như là hồi ký lưu niệm giữa
			nhau. <br /><br />

			Qua bút tích và tự sự trong tuyển tập này, nếu tôi không có được điều kiện
			để đứng nguyên đơn, tôi sẽ tình nguyện xin làm nhân chứng trong những
			phiên toà nhân danh công-lý xét xử những con người, những chủ trương gian
			trá hung tàn đã gây chết chóc gây đau thương cho nhân loại, đặc biệt cho
			những người vô tội, cho đồng bào của mình, bất luận thời gian và bất cứ ở
			đâu. <br /><br />Tôi xin chân thành cám ơn tất cả những người quen thân
			gần gũi - gặp nhau nơi chốn trầm luân, hay ở ngoài đời - đã dành cho tôi
			bao quan tâm, lo lắng, cảm tình trong suốt hành trình cuộc đời kém suông
			sẻ của tôi. Nếu chẳng may tôi chưa gặp dịp, hoặc tôi đáp đền chưa đủ ân
			tình, tôi xin hẹn ở cõi khác, kiếp sau. <br /><br />Tôi cũng xin cám ơn
			chữ nghĩa đã đến với tôi, nâng đỡ tinh thần và ủy lạo tôi trong những cơn
			khổ nạn, giúp tôi trực diện những tình huống yêu ghét trên đời, sau cùng,
			bồi dưỡng cho tôi ít nhiều Chân Thiện Mỹ. Còn Thơ, đến với tôi từ thế giới
			khác, như xa như gần, rất thật, lại cũng rất hư…
		</p>
		<p class="text-left mt-8">
			Phương Hà <br />Vương quốc Bỉ, ngày 21 tháng 9, 2007
		</p>
	</div>
</Layout>
